<button class="btn btn-primary btn-lg " (click)='start()'>Start / Restart</button>
  <br>
  <br>
  <div *ngIf="showGame">
    <p>Entrer un nombre :</p>
    <input type="text" #Nombre>
    <button class="btn btn-primary btn-sm" (click)='envoye(Nombre.value)'>Envoyer</button>
    <label>Score  : {{ score }}</label>
    <br><br>
</div>
<button *ngIf="showReplay" class="btn btn-primary btn-lg " (click)='start()'>Replay</button>